.menu-header-menu-container {
	background-color: var(--dsa-red);
	color: var(--dsa-white);
	padding: var(--dsa-menu-padding) 0;
	/* TODO(dsiddy): Use the `flex-grow` and `flex-shrink` properties here. */
	width: 100%;
}

#menu-header-menu {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* #menu-header-menu a,
#menu-header-menu a:visited {
	color: var(--dsa-white);
} */

.sub-menu {
	background-color: var(--dsa-red);
	display: none;
	position: absolute;
	z-index: 1;
}

.menu-item-has-children:hover .sub-menu {
	display: block;
}
